<div class="container">
    {{#groupedEach recipe in controller.recipes}}
        <div class="col-xs-6 text-center">
            {{#link-to "recipe" recipe}}
                {{unbound recipe.name}}
            {{/link-to}}
        </div>
    {{/groupedEach}}
</div>
