<div class="container">
    {{#each recipe in controller.recipes}}
        <div class="col-xs-6 text-center">
            {{#link-to "recipe" recipe}}
                {{recipe.name}}
            {{/link-to}}
        </div>
    {{/each}}
</div>
